.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: flex-start;
  padding: 4rem;
  min-height: 100vh;
  font-family: 'GFS Didot', serif;
  background: linear-gradient(90deg, #c9c8fe, #ffc5ca);
  background-size: 200% 100%; /* Increase the size of the gradient */
  animation: Gradient 10s ease infinite; /* Animate the gradient */
  -webkit-animation: Gradient 8s ease infinite;
	-moz-animation: Gradient 8s ease infinite;
}

@-webkit-keyframes Gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes Gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes Gradient { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}



.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo,
.thirteen {
  position: relative;
}

.thirteen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  padding: 25px 10px;
  margin-left: 16px;
  transform: translateZ(0);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0px 2px 8px -1px #0000001a;
}

.thirteen::before,
.thirteen::after {
  content: '';
  position: absolute;
  z-index: -1;
}

/* Conic Gradient Animation */
.thirteen::before {
  animation: 6s rotate linear infinite;
  width: 200%;
  height: 200%;
  background: var(--tile-border);
}

/* Inner Square */
.thirteen::after {
  inset: 0;
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(
    to bottom right,
    rgba(var(--tile-start-rgb), 1),
    rgba(var(--tile-end-rgb), 1)
  );
  background-clip: content-box;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}





/**************** GALLERY STYLING ****************/




.descriptionPara {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 0;
  padding-top: 10em;
  font-style: italic;
  background-color: transparent;
}


.main {

  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
  text-align: center;
  justify-content: center;
  color: #1a1a1a;
}

.contentContainer {
  padding-top: 8em;
  cursor:pointer;
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.imgContentWrap > img {
  max-width: 100%;
  height: 400px;
}

.flipCard {
  box-shadow: 0 0.1rem 0 0 rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 100vw;
  padding-bottom: 70px;
  padding-top: 2em;
  
  
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 600px;
  padding: 2rem 2rem;


  /* background: rgba(255, 255, 255, 0.833);
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.3); */
}

.flipCard {
  background: rgba(255, 255, 255, 0.833);
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.flipCard:hover {
  box-shadow: 0 0.75rem 2rem 0 rgba(114, 206, 128, 0.7);
  border: 1px solid rgba(114, 206, 128, 0.7);
}

.contentGroup {
  padding-top: 2em;
}

.colourGroupOne, .colourGroupTwo {
  padding-top: 1em;
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  text-align: center;
  color: #1a1a1a;
  font-size: 12px;
  
}

.year {
  padding-bottom: 0.8em;
}

.colourGroup .paletteColor {
  width: 6em;
  height: 6em;
  margin: 15px;
  /* padding: 1em 0; */
  box-shadow: 0 3px 2px 0 rgba(137, 137, 137, 0.6);
}


.colourCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}




/**************** NAVBAR STYLING ****************/





.navbar {
  transition: all 2s ease-in-out;
}

.menuOpen {
  background: linear-gradient(90deg, #cfecd0d7, #ffc5cad4);
  width: 25%;
  height: 100%;
  color:  #1a1a1a;
  
  
  /* transform: translateX(200%); */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: flex-end;
  list-style: none;
  text-align: center;
  position: fixed;
  padding: 4em;
  right: 0;
  top: 0;
  transition: all 2s ease-in-out;
}

/* .navbar > .menuOpen.active {
  transition: all 2s ease-in-out;
} */

.menuOpen > .menuItems {
  padding-top: 2em;
}

.menuItems > li {
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 28px;
  font-weight: 100;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6em;

  
}

.menuItems > li.item > a:hover  {
  cursor: pointer;
  font-weight: 400;
  background-color: #d13426;
  letter-spacing: 10px;
  transition: all .4s;
  padding-left: 2em;
  padding-right: 2em;
  color: azure;
}




/**************** HEADER STYLING ****************/




.headerContainer {
  position: fixed;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100px;
  background: #a0cea7c5;
  padding: 4em;
  font-family: 'GFS Didot', serif;
  font-weight: 800;
  font-family: 'DM Serif Text', serif;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  z-index: 1;
}

.headerContainer > h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerContainer > img {
  background-color: aliceblue;
  padding: 0.5em;
  margin: 50px;
  border-radius: 50px;
  
	box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 4px 7px 0px rgba(0,0,0,0.4);
	/* transform: translateY(5px);
	animation: float 6s ease-in-out infinite; */
}

header.headerContainer > img.headerIcon:active {
  top: 2px;
}

header.headerContainer > img.headerIcon:hover:after {
  left: 0;
  width: 100%;
}

/* @keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
  50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
  100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
} */

.menuIcon {
  background-color: aliceblue;
  padding: 0.5em;
  margin: 50px;
  border-radius: 50px;
  

	overflow: hidden;
	box-shadow: 0 4px 7px 0px rgba(0,0,0,0.4);
}






/**************** INDEX.JS STYLING ****************/






.mainHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 9em;

  font-family: 'GFS Didot', serif;
  background: linear-gradient(90deg, #c9c8fe, #ffc5ca);
  background-size: 200% 100%; /* Increase the size of the gradient */
  animation: Gradient 10s ease infinite; /* Animate the gradient */
  -webkit-animation: Gradient 8s ease infinite;
	-moz-animation: Gradient 8s ease infinite;
}

@-webkit-keyframes Gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes Gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes Gradient { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.customBtn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.customBtn {
  background-color: #f0ecfc;
  background-image: linear-gradient(315deg, #f3b7ee 0%, #c797eb 74%);
  line-height: 42px;
  padding: 0;
  border: none; 
}

/* .customBtn:after {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  transition: all 0.3s ease;
} */

.customBtn:hover {
  box-shadow:  2px 2px 4px 0 rgba(255,255,255,.5),
              -2px -2px 4px 0 rgba(116, 125, 136, .5), 
    inset -2px -2px 4px 0 rgba(255,255,255,.2),
    inset 2px 2px 4px 0 rgba(0, 0, 0, .4);
    transition: all 0.5s ease;
}

.customBtn:hover:after {
  left: 0;
  width: 100%;
}

.customBtn:active {
  top: 2px;
}

.bigCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.overlay {
  width: 100%;
  max-width: 1200px;
  max-height: 800px;
  padding: 4rem 4rem;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.375);
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.3);

  transform: translateY(5px);
	animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.4);
		transform: translatey(0px);
	}
  50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.1);
		transform: translatey(-20px);
	}
  100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.4);
		transform: translatey(0px);
	}
}

.portraitCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1a1a1a;
  text-align: center;
  
}

.portraitCont > h1 {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.portraitCont > p { 
  font-style: italic;
}

.portraitCont > img {
  border-radius: 50% 50% 50% 50%;
}

.contentCont {
  padding-left: 4em;
  color: #1a1a1a;
}

.contentTxt {
  padding-bottom: 2.5em;
}






/**************** FLIPPED STYLING ****************/





.flipCardContainer {
  width: 200px;
  height: 200px;
  perspective: 1000px;
}

.flipCard {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;

}

.flipCardFront, .flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
}

.imgContentWrap, .colourCont {
  width: 100%;
  height: 100%;
  backface-visibility:hidden;
}

/* .imgContentWrap > img {
  visibility: collapse;
} */


.colourCont {
  transform: rotateY(180deg);
}

.flipCardFront {
  background-color: #bbb;
  color: black;
}

.colourCont {
  /* background-color: #2980b9; */
  position: relative;
  padding-top: 50%;
  transform: rotateY(180deg) translate(0%, -120%);
  /* transform: rotateY(180deg); */
}

.flipped {
  transform: rotateY(180deg);
}




/**************** SEARCH BAR STYLING ****************/



.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input {
  height: 40px;
  width: 300px;
  margin-right: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.searchBtn {
  height: 40px;
  padding: 0 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  background-color: blue;
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.searchBtn:hover {
  background-color: darkblue;
}

.Home_container {
  padding-top: 10em;
}